div.warning, div.caution, div.note, div.tip, pre.screen
{
    background-color: #dddddd;
    padding: 0pt 3pt;
}

div.note .title, div.tip .title, h3.author
{
    color: black;
}

/* These are set up to roughly match the OpenGL SDK style */

body
{
    text: black;
    background: white;
    font-size: 11pt;
    font-family: sans-serif;
}

h1, h2, h3
{
    font-weight: bold;
    color: red;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1em;   }
